<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-module:war exploded">
    <output-path>$PROJECT_DIR$/spring-module/target/spring-module</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-module" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/spring-module/target/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-module/web/Web" />
    </root>
  </artifact>
</component>